content-block-wrapper {
  display: block;
  height: 100%;
}

.content-block-wrapper__background-wrapper {
  position: relative;
  height: 100%;
}
.content-block-wrapper__background-wrapper .content-block-wrapper__inner {
  position: relative;
  z-index: 1;
  height: 100%;
}
.content-block-wrapper__background-wrapper .content-block-wrapper__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}