content-tabs {
  display: block;
}
content-tabs button[role=tab][aria-selected][aria-controls] {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
content-tabs button[role=tab][aria-selected][aria-controls][aria-selected=true] {
  border-bottom: 1px solid black;
}